@import url(//db.onlinewebfonts.com/c/f5a0fdbad9ec5d2a9154ec76383ac111?family=Zen+1);

html, body, main {
    padding:0;
    margin:0;
    font-family: sans-serif;
    height: 100%
}

h1 {
    font-family: "Zen 1";
    color: rgb(59, 71, 59)
}

.welcome {
    height: 100%;
    background-image: url("Library.jpg");
    background-repeat:  no-repeat;
    background-size:  contain;
    background-position: center;
    background-color: rgb(17, 15, 15) ;
}

li {
    list-style:none;
}

.book-cover {
    width:  120px;
}





