*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
body {
    background-color: rgba(14, 137, 175, 0.69);

  
}
.appmain{padding:1rem}

header{
    height: 80px;
    width: 100%;
    background-color: blue;
    display:flex;
    justify-content: column-start;
    align-items: center;
    padding: 1rem;
}

.navElements{
    margin-right:2rem;
    color: deeppink
}
.welcome {
    color: sienna;
    font-style: italic;
    font-weight: lighter;
}

.chat {
    /* border: 2px solid pink; */
}

li {
    list-style:none;
}
.messages {
    border: 2px solid pink;
padding: 1rem;
}

.logo {
height:40px;
margin-right: 10rem;
}

.button {
    box-shadow: inset;
    border-radius: 10;
    background-color: deepskyblue;
}

h1, h2, h3, h4 {
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.containerprofilepic {
    display: flex;
}

.containerprofilepicitem {
    width: 6rem;
    margin-right: 1rem;
}

.profile-picture {
    height: 80px;
       /* object-fit: contain; */
}

.containerOfFriends {
    color:black;
    object-fit: fill;
}


